@import "vendor/bootstrap/bootstrap/variables";
@import "vendor/bootstrap/bootstrap/mixins/table-row";
@import "vendor/bootstrap/bootstrap/tables";
@import "variables";
@import "components/flex-row";

.pricing-page-test {
  $color-purple: #6e49cb;
  $color-purple-dark: darken($color-purple, 10%);
  $color-light: #868686;
  $color-tab-inactive: #999a99;
  $color-feature-unavailable: #a7a7a7;

  background-color: $color-white;
  color: $color-gray-dark;
  font-size: 14px;
  margin-bottom: -80px;
  padding-bottom: 115px;
  text-align: center;

  .btn {
    background-color: $color-purple;
    color: $color-white;
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    padding: 12px 16px;

    &:focus,
    &:hover {
      background-color: $color-purple-dark;
    }
  }

  a {
    color: $color-purple;
  }

  .header {
    margin-bottom: 32px;
    margin-top: 40px;
  }

  h1 {
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 16px;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 40px;
  }

  p {
    font-size: 16px;
  }

  .container {
    width: auto;
  }

  .plans {
    justify-content: center;
  }

  .plan {
    border: 1px solid $border-color;
    border-radius: 4px;
    box-shadow: none;
    flex-direction: column;
    margin: 0 24px 24px 24px;
    padding: 0;

    @media (min-width: 992px) {
      margin: 0 8px;
      max-width: 300px;
    }

    .image {
      background-color: $body-bg;
      display: flex;
      height: 265px;
      justify-content: center;
    }

    .content {
      border-bottom: 1px solid $border-color;
      display: flex;
      flex-direction: column;
      height: 330px;
      margin: 0 24px;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      line-height: 22px;
      margin-top: 32px;
    }

    .description {
      font-size: 22px;
      font-weight: 700;
      line-height: 22px;
      margin-top: 8px;
    }

    .price {
      align-items: center;
      color: $color-purple;
      display: flex;
      font-size: 62px;
      font-weight: 700;
      height: 78px;
      justify-content: center;
      margin-top: 24px;
    }

    .price-monthly {
      line-height: 17px;
    }

    .price-annually {
      font-size: 12px;
      font-weight: 300;
      line-height: 17px;
    }

    .btn {
      margin-bottom: 24px;
      margin-top: auto;
    }

    .features {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin: 24px;
      text-align: left;
    }

    .feature-title {
      font-size: 16px;
      font-weight: 600;
    }

    ul {
      list-style: none;
      margin-bottom: 24px;
      padding-left: 0;
    }

    li {
      border-bottom: 1px solid $border-color;
      margin-top: 0;
      padding: 16px 0;
    }

    .compare {
      margin-bottom: 0;
      margin-top: auto;
    }
  }

  #feature-comparison {
    display: none;
    border-bottom: 1px solid $color-purple;
    margin: 0 -15px;
    padding: 53px 15px 32px;

    .tabs {
      ul {
        border-bottom: 1px solid $color-purple;
        display: flex;
        justify-content: space-between;
        list-style: none;
        margin: 0 0 16px;
        padding: 0 15px;

        @media (min-width: 992px) {
          padding: 0 100px;
        }
      }

      li {
        background-color: $color-white;
        flex: 1 1 0;
        margin: 0 1px 0 0;
        max-width: 300px;

        &.active {
          border: 1px solid $color-purple;
          border-bottom-color: transparent;
          border-radius: 4px 4px 0 0;
          margin: -1px 0 -1px -1px;

          a {
            color: $color-purple;
            cursor: default;
          }
        }

        a {
          color: $color-tab-inactive;
          display: flex;
          flex-direction: column;
          font-size: 18px;
          font-weight: 700;
          height: 75px;
          justify-content: center;
          text-decoration: none;
        }
      }
    }

    .tab-content {
      .tab-pane:not(.active) {
        display: none;
      }

      .container {
        @media (min-width: 992px) {
          padding: 0 100px;
        }
      }

      table {
        margin-bottom: 24px;
      }

      tr {
        border-bottom: 1px solid $border-color;
      }

      tbody tr:hover {
        background-color: $pricing-gray-bg;
      }

      th,
      td {
        border: 0;
        padding: 16px 0;

        &:first-child {
          @media (min-width: 992px) {
            padding-left: 50px;
          }
        }

        &:last-child {
          @media (min-width: 992px) {
            padding-right: 50px;
          }
        }
      }

      th {
        padding-bottom: 32px;

        &:first-child {
          width: 50%;

          .title {
            color: $color-purple;
            display: flex;
            font-size: 24px;
            font-weight: 700;
            padding-bottom: 8px;

            .icon {
              align-self: center;
              display: flex;
              fill: $color-purple;
              flex-direction: column;
              margin-right: 8px;
              width: 16px;
            }
          }

          .subtitle {
            color: $color-light;
            font-size: 16px;
            line-height: 20px;
          }
        }

        &:not(:first-child) {
          text-align: center;

          .title,
          .price {
            font-size: 16px;
            line-height: 20px;
          }

          .price {
            font-size: 32px;
            line-height: 40px;
          }

          .price-monthly {
            color: $color-light;
            line-height: 18px;
            margin-bottom: 16px;
          }

          .btn {
            padding: 8px;
            width: 97px;
          }
        }
      }

      td {
        &:first-child {
          text-align: left;

          .title {
            font-size: 16px;
            font-weight: 700;
            line-height: 20px;
            max-width: 300px;
          }

          .description {
            color: $color-light;
            font-weight: 500;
            max-width: 300px;
            min-height: 121px;
            padding: 8px 0;
          }

          a {
            font-weight: 600;
          }
        }

        &:not(:first-child) {
          line-height: 12px;
          text-align: center;
          vertical-align: middle;

          svg {
            width: 24px;
          }

          .nope {
            background-color: $color-feature-unavailable;
            height: 3px;
            margin: 0 auto;
            width: 18px;
          }
        }
      }
    }

    .compare-all {
      padding-left: 15px;
      text-align: left;

      @media (min-width: 992px) {
        padding-left: 150px;
      }

      a {
        font-size: 16px;
        font-weight: 600;
      }
    }
  }

  .customer-logos-container {
    padding: 80px 0 0;
  }

  .faq {
    margin-bottom: 80px;

    .faq-holder {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 0 15px;
    }

    .faq-container {
      flex-grow: 1;
      text-align: left;

      @media (min-width: 992px) {
        max-width: 600px;
      }

      a {
        color: $color-gray-dark;
      }

      .faq-answer {
        ul {
          background: $color-gray-extra-light-alt;
          border-radius: 3px;
          padding: 1px 10px 10px 40px;
        }
      }
    }
  }

  .contact {
    h1 {
      margin: 0;
    }

    .btn {
      margin-top: 24px;
      width: 140px;
    }
  }

  .modal {
    .modal-dialog {
      align-items: center;
      display: flex;
      height: 100%;
      margin-bottom: 0;
      margin-top: 0;
    }

    .modal-header {
      border: 0;
      display: flex;
      justify-content: flex-end;
      padding: 10px 10px 0 16px;

      .close {
        border: 0;
        font-size: 24px;
        margin-top: 0;
      }
    }

    .modal-body {
      display: flex;
      padding: 0 16px 24px;

      .hosted,
      .self-managed {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 50%;
      }

      .hosted {
        border-right: 1px solid $border-color;
        padding-right: 16px;
      }

      .self-managed {
        padding-left: 16px;
      }

      .title {
        font-size: 16px;
        font-weight: 600;
        line-height: 20px;
      }

      .subtitle {
        margin-bottom: 24px;
      }

      .logo {
        background-color: $body-bg;
        border-radius: 50%;
        height: 150px;
        margin-bottom: 24px;
        width: 150px;

        svg {
          width: 75%;
        }
      }

      .setup {
        color: $color-light;
        font-weight: 700;
        margin-bottom: 8px;
      }

      .explanation {
        color: $color-light;
        flex-grow: 1;
        line-height: 18px;
        margin-bottom: 24px;
      }

      .button {
        width: 100%;
      }

      .btn {
        width: 100%;
      }
    }
  }
}
