---
layout: handbook-page-toc
title: Front End Plan Team
---

## On this page
{:.no_toc .hidden-md .hidden-lg}

- TOC
{:toc .hidden-md .hidden-lg}

## Frontend Plan Team

The Frontend Plan team works on the frontend part of GitLab for the [Plan stage]. Among other things, this means working on GitLab's issue tracker, [portfolio management features], and [Markdown rendering].

For more details about the vision for this area of the product, see the [Plan
stage] page.

[Plan stage]: /stages-devops-lifecycle/plan/
[Markdown rendering]: https://docs.gitlab.com/ee/user/markdown.html
[portfolio management features]: /product/agile-portfolio-management/

## Team Members

<%= direct_team(role_regexp: /[,&] Plan/, manager_role: 'Frontend Engineering Manager, Plan') %>

### Internship Program

In 2020, an [Intern] will be joining the Plan Frontend Team.

## Stable Counterparts

The following members of other functional teams are our stable counterparts:

<%= stable_counterparts(role_regexp: /[,&] (Plan(?!:)|Plan:Project Management|Plan:Portfolio Management & Plan:Certify)/, direct_manager_role: 'Frontend Engineering Manager, Plan') %>


## Groups

The Plan stage is split into three groups: Project Management, Portfolio
Management and Certify. For the sake of planning, frontend engineers
have specialities within groups. However, due to shifting workloads per group,
frontend engineers on the Plan stage are expected to be able to take on work
outside of their speciality.

| Project Management | Portfolio Management | Certify |
|--------------------|----------------------|---------------|
| Simon Knox | Kushal Pandya | Kushal Pandya |
| Scott Stern | Rajat Jain | Rajat Jain |
| Coung Ngo | Florie Guibert | Florie Guibert |
| | Axel García | Axel García |

## Work

You can see how we work as a stage at the [Plan stage page].

Like the [backend team], we use the standard GitLab [engineering workflow]. To
get in touch with the Plan frontend team, it's best to create an issue in the
relevant project (typically [GitLab]) and add the ~"devops::plan" and
~"frontend" labels, along with any other appropriate labels. Then, feel free to
ping the relevant Product Manager and/or Frontend Engineering Manager as listed
above.

For more urgent items, feel free to also share the issue in [#s_plan] on Slack.

[Intern]: /handbook/engineering/development/dev/fe-plan/internship
[Plan stage page]: /handbook/product/categories/plan/
[backend team]: /handbook/engineering/development/dev/plan-team-planning-be/
[engineering workflow]: /handbook/engineering/workflow/
[GitLab]: https://gitlab.com/gitlab-org/gitlab

### Capacity Planning

<%= partial("handbook/engineering/development/dev/plan/capacity_planning") %>

### Picking something to work on

The Plan FE stage works off of two boards, depending on the group: [Project
Management] and [Portfolio Management/Certify]

When deciding the next issue to take, frontend engineers should prioritize by
the following:

1. First filter by ~"frontend". Here, items in the ~"workflow::ready for
development" column are ready to be picked up. The priority is set top down in
the list.
1. Items in the ~"workflow::planning breakdown" column. This is a prioritized
list of items that may not be fully ready to start development on, but should
be close.
1. Items in the `Open` column. There should not be a point where there are not
issues in the previous steps, but if it happens, feel free to look through the
`Open` column and determine what is needed to move them to a more advanced step.

It's OK to not take the top item if you are not confident you can solve it, but
please add a comment in the issue if that's the case, as this probably means
the issue should be better specified.

When you pick something to work on, please assign the issue to yourself and
add the ~"workflow::In dev" label.

[Project Management]: https://gitlab.com/groups/gitlab-org/-/boards/1285239?label_name[]=group%3A%3Aproject%20management
[Portfolio Management/Certify]: https://gitlab.com/groups/gitlab-org/-/boards/1569369?scope=all&utf8=%E2%9C%93&state=opened&label_name[]=devops%3A%3Aplan&not[label_name][]=group%3A%3Aproject%20management

## Useful links

* [Plan frontend board] - this shows work in the current release
* [#s_plan] in Slack
* [Recorded meetings][youtube]
* [Retrospectives][retros]

[Plan frontend board]: https://gitlab.com/groups/gitlab-org/-/boards/654688
[#s_plan]: https://gitlab.slack.com/archives/s_plan
[youtube]: https://www.youtube.com/playlist?list=PLFGfElNsQthaREiE1QwWQtqUv1LYPEuuj
[retros]: https://gitlab.com/gl-retrospectives/plan/issues?scope=all&utf8=%E2%9C%93&state=all&label_name[]=retrospective

