%section.ten-oh-announcement
  .ten-oh-label
    %span X.Y
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab X.Y released with Feature A and Feature B

      .btn-group
        = link_to "/releases/YYYY/MM/22/gitlab-X-Y-released/", class: "btn cta-btn btn-white margin-top20 hero-cta hero-release-link" do
          See what’s new
