### Manage

**1. Enterprise readiness:** GitLab must be seen as a platform that enterprises can use out of the box for both GitLab.com and self-managed deployments. We're doing this by focusing on improvements in several key areas:
  * Enterprise-grade authentication and authorization. Critical for large organizations managing users at scale, we're focused on investing in SAML SSO that works across a range of identity providers and automates member management.
  * Providing consistent views on instance activity. We'll improve [audit management](/direction/manage/audit-management/) to a lovable category and introduce dashboarding and alerting to help tell your compliance story to stakeholders. We'll also solve a pronounced need for fine-grained member permissions.
  * Create a consistent experience between self-managed customers and GitLab.com customers. Currently, these experiences differ, mainly from the reason that the code base running the two deployment types is the same. This means as a self-managed customer, you have control at the instance level. Conversely, for GitLab.com, the highest level of access is at the group level. Much of our recent audit management work has been to ensure consistency for audit tracking at the group level, but we will continue to invest here to make sure the experience is the same for both deployment types.
  * Provide isolation of groups inside of GitLab. For some organizations, there must be safeguards in place to prevent users from viewing or accessing other groups and projects. Providing isolation of group managed accounts will help organizations better manage their GitLab usage by providing a more "instance-like" experience at the group level.
  * Improving tools that help compliance-minded organizations thrive. GitLab makes it easy to contribute, but administrators should have comprehensive control to establish, enforce, and provide evidence of organizational policies that are part of a compliance program or framework. Our [compliance vision](/direction/manage/compliance-management/) will evolve to introduce features that enable organizations to rely on GitLab for the enforcement and documentation of [policies](https://gitlab.com/gitlab-org/gitlab/issues/7626) they set. You can hear more about our direction on compliance here:

<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/8VGJdsxMZvY" frameborder="0" allowfullscreen="true"> </iframe>
</figure>

Growth driver: Initial purchase

**2. Providing a great import experience:** Few instances start from scratch - for most, one of the earliest tasks for a GitLab administrator is importing information from outside the application. We'll invest heavily in a strong import user experience and build bespoke importers for key competitors like Jenkins and Jira. In GitLab 12.10, we released our first version of the Jira Importer and will continue iterating on it throughout the year. We'll also expand on the capabilities of our existing importers, with a focus on making GitLab.com migration easy with better group import/export capabilities, ensuring great performance of our GitHub importer, and working on importing more elements from GitHub, such as wikis.

Growth driver: Initial purchase

**3. Lowering time to production for our customers:** Improvements to productivity and code analytics over the next 12 months will allow our customers to drill down and identify sources of waste in their existing process. Within 12 months, GitLab customers will be able to firmly answer how much their time-to-production metrics have improved. We've recently released customizable value stream analytics, and are working towards implementing lead time and cycle time to help our customers have better insight into their value stream.

Growth driver: Retention
